/*
COLORS:

Light green: rgba(126, 213, 111)
Medium green: rgba(85, 197, 122)
Dark green: rgba(40,180,133)

*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

body {
  padding: 30px;
}

.header {
  height: calc(95vh - 30px);
  background: linear-gradient(rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
